.chartcontainer{
    background-color: #F5F5F5;
}


.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    background-color: #F5F5F5;
    padding: 0 20px;
    margin-top: 10px;
    
}
.card{
    width: 20%;
    height: 100px;
    background-color: #07393C;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  

    
}
.cardtitle{
    color: white;
    font-size: 20px;
    font-family: poppins;
    font-weight: 600;
    text-align: center;
    margin:8px 0;

}

.carddetails{
    font-size: 30px;
    font-family: poppins;
    font-weight: 800;
    text-align: center;

}
.charts{
    background-color: #F5F5F5;
    display: flex ;
    justify-content: space-between;
}
.bargraph1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); 
    width: 45%;
    margin: 0 20px;
    margin-top: -80px;
    background-color: #F5F5F5;
    height: 400px;
}
.charttitle{
    font-family: poppins;
    font-weight: 800;
    font-size: 30px;
     margin-left: 150px;
     margin-bottom: 20px;
     
    
}
.areagraph{
    display: flex;
    justify-content: flex-end;
    background-color: #F5F5F5;
    flex-direction: column;
   
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); 
    width: 45%;
    height: 400px;
    margin: 0 20px;
    margin-top: -80px;
    background-color: #F5F5F5;

}
.piechart{
    display: flex;
    justify-content: flex-end;
    background-color: #F5F5F5;
    flex-direction: column;
   
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); 
    width: 45%;
    height: 400px;
    margin: 0 20px;
    margin-top: 70px;
    background-color: #F5F5F5;
    
}