.brosewcategory{
  margin-left: 40px;
}
.brosewcategories p{
  font-size: 40px;

  font-family: poppins;
  font-weight:900;
  margin-left: 10px; 
}
.brosewcategories{
  text-align: center;
  margin-top: 80px;
}