.brosewcategory{
  margin-left: 40px;
}
.brosewcategories p{
  font-size: 50px;

  font-family: poppins;
  font-weight:100;
  margin-left: 10px; 
}
.brosewcategories{
  text-align: center;
  margin-top: 40px;
}
