.categorymaincontents{
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;  
}

.categoryDivImages{
    width: 100%;
    height: 100%;
}
.categoryDivImages img{
    object-fit:fill;
    width: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;   
    height: 230px;
}
.categoryNameHeader{
    color: #07393C;
}
.brosewcategoriestopic{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #2d3748;
}