
.pagination {
    display: flex;
    width: 70%;
    margin: 30px auto;
    justify-content: center;
    list-style: none;
  }
  
  .pagination li {
    margin: 0 5px;
    min-width: 45px;
    text-align: center;
    display: inline-block;
  }
  
  .pagination a {
    background-color: #07393ccf;
    border: none;
    border-radius: 5px;
    display: block;
    padding: 5px 12px;
    text-decoration: none;
    color: #fff;
  }
  
  .pagination a:hover {
    background-color: #07393c;
  }

  .pagination li.previous, .pagination li.next  {
    width: 100px;
  }
  
  .pagination li.selected{
    min-width: 55px;
    font-weight: 600;
    background-color: #07393c;
    border-radius: 5px;
  }
  

  /* filter box */
  .filter-box {
    box-shadow: 1px 2px 5px 1px rgba(15,11,11,0.29);
    border-radius: 5px;
    padding: 10px;
    left: 8.5%;
    top: 150px;
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    height: fit-content;
    opacity: 1;
    height: auto; 
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease; 
}

.filter-box-hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

  .filter-box div {
    padding: 20px 5px;
    margin: auto;
    height: fit-content;
    width: 300px;
    border: none;
    box-shadow: none;
  }
  .filter-box div:nth-child(2) {
    padding: 10px 10px;
  }
  .filter-box div:nth-child(2) input {
    margin-left: 10px;
  }


  .filter-box button {
    margin-left: 8px;
    width: 80%;
  }

  .filter-icon {
    border: 1px solid rgba(0, 0, 0, 0.59);
    color: rgba(0, 0, 0, 0.59);
    padding: 1px;
    left: 9%;
    position: absolute;
    top: 160px;
    scale: 1.8;
  }

  .filter-icon:hover {
    scale: 2;
    border: 1px solid #07393c;
    color: #07393c;
    transition: all .2s ease;
  }

  .boxClose {
    top: 20px;
    color: rgba(0, 0, 0, 0.59);
    scale: 2;
  }
  .boxClose:hover {
    scale: 2.2;
    color: #07393c;
    transition: all .2s ease;
  }


