.ProductPrice {
    color: red;
    text-decoration: line-through;
  }
  .productafterprice{
    display: flex;
    margin-left: 5px;
    justify-content: space-between;
    width: 120px;
    font-size: small;
  }
  .productprice{
    display: flex;
    margin-left: 5px;
    justify-content: space-between;
    width: 120px;
    font-size: small;
  }