.saleheader {
    display: flex;
    padding: 20px 0;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    background: linear-gradient(45deg,#f5f5f5,#07393c,#f5f5f5);
    background-size: 180% 180%;
    animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.txt{
    font-size: 50px;
    margin-top: -5px;
    color: #fff;
    font-family: poppins;
    font-weight:200;
    margin-left: 10px;
}
.digital-clock {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction:row;
}

.time {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold; /* Make text bold */
    color: #333; /* Set text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
    /* Additional styling can be added here */
}
.time-unit {
    margin: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
} 

 .label {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff8c;
} 

 span {

    font-size: 24px;
    font-weight: bold;
    color: #ffffffcc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
} 
@media screen and (max-width: 900px){
  .txt{
    font-size: 30px;
    white-space: nowrap;
    margin-top: 10px;
    
  }
  .saleheader{
    width: fit-content;
  }
}
