.flashsale {
    background-color: #F5F5F5;
    overflow-x: auto; /* Enable horizontal scrolling */
    margin-left: 110px;
}

.flashsale .grid {
    white-space: nowrap; /* Prevent wrapping */
    overflow-x: auto; /* Enable scrolling */
}
